
*{
    padding: 0;
    margin: 0 auto;
}
.bodyUser{
    background-image: url(../Image/PERTE-Agro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.bodyMain{
    background-image: url(../Image/14dic_mitos_700x400.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

nav{
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: 10px;
    text-align: right;
    padding: 15px;
}
.tlt-tipe{
    padding: 30px 50px;
    text-align: center;
    font-size: 35px;
    color:rgb(234, 230, 230);
    margin: 5px;
    margin-bottom: 50px;
}

.tlt-ca{
    padding: 50px 50px 15px 50px;
}

.boton1 {
    text-decoration: none;
    background-color: rgb(53, 247, 63);
    padding: 7px;
    font-family:fantasy;
    color: rgb(255, 255, 255);
}
.boton1:hover{
    background-color: transparent;
    border: 1px solid aliceblue;
}

.boton2 {
    text-decoration: none;
    background-color: #5fa6af;
    padding: 7px;
    font-family:fantasy;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.boton2:hover{
    background-color: transparent;
    border: 1px solid aliceblue;
}

.boton {
    margin: 5px;
    text-decoration: none;
    background-color: rgba(118, 122, 121, 0.7);
    padding: 7px;
    font-family:fantasy;
    color: rgb(255, 255, 255);
    
}

.boton:hover{
    background-color: transparent;
    border: 1px solid aliceblue;
}

.bt-tp{
    text-decoration: none;
    background-color: #5fa6af;
    padding: 15px;
    font-family:fantasy;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.bt-tp:hover{
    background-color: transparent;
    border: 1px solid aliceblue;
}

.titulo h1{
    font-size: 35px;
    color:rgb(170, 255, 58);
    margin: 5px;
}


.titulo p{
    font-weight: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mision{
    padding: 10px;
    font-weight: 500;
    text-shadow: 30px;
    background-color: rgba(240, 248, 255, 0.2);
    background-position: center;
    margin: 10px 350px;
    backdrop-filter: 10px;
    border-radius: 20px;
    
}
.logo1 {
    width: 70px;
    height: 70px;
}

.logo2 {
    width: 25px;
    height: 25px;
    
}

.Login{
    backdrop-filter: 30px;
    background: rgb(77, 104, 104, 0.7);
    width: 30%;
    padding: 35px 35px;
    border: 1px solid black;
    border-radius: 20px;   
}

article {
    padding: 10px;
    text-align: center;
}

.user{
    padding: 10px 50px;
    text-align: center;
    justify-content: center;
    float: left;
    width: 40%;
}

.productor{
    padding: 10px 50px;
    text-align: center;
    float: left;
    width: 40%;
}
.inicio {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.footer-main{
    padding: 4px;
    background-color: rgb(255, 228, 196,0.5);
    backdrop-filter: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}   

.fot-title{
    text-align: center;
}

.txt{
    font-weight: 400;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.txt-ca {
    font-weight: 550;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    padding: 10px 50px;
}

.footer-tp{
    padding: 4px 4px 4px 1000px;
    background-color: rgb(255, 228, 196,0.5);
    backdrop-filter: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;;
}

.f-boton{
    float: left;
    margin-top: 13px;
}

.f-txt {
    float: left;
}