
*{
    padding: 0;
    margin: 0 auto;
}

body{
    background-image: url(../Image/14dic_mitos_700x400.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

nav{
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: 10px;
    text-align: right;
    padding: 15px;
}

.boton1 {
    text-decoration: none;
    background-color: rgb(53, 247, 63);
    padding: 7px;
    font-family:fantasy;
    color: rgb(255, 255, 255);
}
.boton1:hover{
    background-color: transparent;
    border: 1px solid aliceblue;
}

.boton2 {
    text-decoration: none;
    background-color: rgb(95, 166, 175);
    padding: 7px;
    font-family:fantasy;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.boton2:hover{
    background-color: transparent;
    border: 1px solid aliceblue;
}
.boton {
    margin: 10px;
    text-decoration: none;
    background-color: rgba(118, 122, 121, 0.7);
    padding: 7px;
    font-family:fantasy;
    color: rgb(255, 255, 255);
    
}

.boton:hover{
    background-color: transparent;
    border: 1px solid aliceblue;
}

.titulo h1{
    font-size: 35px;
    color:rgb(170, 255, 58);
    margin: 5px;
}

.titulo p{
    font-weight: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mision{
    padding: 10px;
    font-weight: 500;
    text-shadow: 30px;
    background-color: rgba(240, 248, 255, 0.2);
    background-position: center;
    margin: 10px 391px;
    backdrop-filter: 10px;
    border-radius: 20px;
    
}
.logo1 {
    width: 70px;
    height: 70px;
}

.logo2 {
    width: 25px;
    height: 25px;
    
}

.Login{
    backdrop-filter: 30px;
    background: rgb(77, 104, 104, 0.7);
    justify-content: center;
    width: 30%;
    padding: 25px 25px;
    margin: 10px 450px;
    border: 1px solid black;
    border-radius: 20px;   
}

article {
    padding: 10px;
    text-align: center;
}

.inicio {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

footer{
    padding: 10px;
    background-color: rgb(255, 228, 196,0.5);
    backdrop-filter: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}   

.fot-title{
    text-align: center;
}

.txt{
    font-weight: 400;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}